# RabbitMQ
RABBITMQ_USER=taskscope
RABBITMQ_PASS=taskscope
RABBITMQ_HOST=localhost
RABBITMQ_PORT=5672

# Grafana
GRAFANA_USER=admin
GRAFANA_PASS=admin

# OTel (Spring Boot 앱에서 사용)
OTEL_SERVICE_NAME=taskscope-dispatcher
OTEL_EXPORTER_OTLP_ENDPOINT=http://localhost:14320
OTEL_EXPORTER_OTLP_PROTOCOL=grpc
